<a href="https://colab.research.google.com/github/anamueller/IA/blob/main/Lista_de_Exerc%C3%ADcios_Pr%C3%A1ticos_6_(Recupera%C3%A7%C3%A3o).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Ana Clara Mueller Miranda

RA: 148806

In [ ]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
from sklearn.cluster import KMeans
from google.colab import drive
from sklearn.model_selection import train_test_split
from sklearn.metrics import average_precision_score
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
ibge = pd.read_csv("/content/drive/MyDrive/ibge_completo.csv")

In [ ]:
#dados escalados utilizando 6 atributos
min_max_scaler = preprocessing.MinMaxScaler(feature_range=(0, 1))
escalado = ibge.iloc[:, 2:8].values
escalado = min_max_scaler.fit_transform(escalado)

In [ ]:
kmeans = KMeans(n_clusters=20, random_state=0).fit(escalado)
relevancia = kmeans.labels_
print(relevancia)

[ 7  9  7  1  1  7 13  5  1  1 16  5 16  1 16 16  1  1 18  1  9 10 16  5
  5  8 16  1  9  5  1 14  9  9 16  1  5  8  9  0 16  1  1  9 13  1  7 10
  7  0 16 14  1  1  1  0  1  9  7  1  7  5  2  1  6  9  5  8  8 16  9  7
  1  0 16  8 16  8  9  1  1  1  1  0 16  2  0  9  1 16 14 14 16  9  9  9
 10 16  7  5  9 13  0 13  7  9  8  9 17 13 16  7 14  1  0  1  1  2  9 16
  7  3  0  5  9  5 16  1  9  0  1  9  9  9  1  7  8  9  7  1  9 16 16  1
  7 16 16  7  1 16 13  2  8  3  1  9  1  0  1  9  7  9  1  0  2  9  1  1
  6  1  9  1  7  9  1 16  9  0  7  1  0  1 11  9  9  0  9  0  6 13  1 16
  0  9  9  7  8 16 16  9 14 16 10 16  0  0  1  7  5 16  8  0 16 18 15  7
  9 16  1  6  0 16  7 16 16  9  8 12 16  0  1  7 16 19  9  8 16 16  1 16
  1  9  9  9  1 14  7  1  9  9 14 14  0  9  0  9 13 19 19  6  0  7  5  0
  1 16  6  5 16 10  5  0  1  1  8  9  8 16  8  7  1  8  1 16  9 11  0  9
  8  1 16  7  5  1  1 10  0  8  0  9  7  0  1  7  8  0  1  0  7  1 13 16
  9  0  1  1  7  9  9 16 16  9 10  9  5  0  1  9 14  1 14  0 11  9  9  1
  8  9  9  5  5 14  9  1  5 17  8  0  1  1  1  1 16  7  9  9  9 16  2  1
  9  9 16 16  8 16  9  7  1  9  7  1  9  1  0  1  9  1 13  1  5 16 16  9
  8  9  9  9 16  3  9  9 16  9 16 16  8  1 16  0 16  5  8  1  5  1 16  9
 16  1  0 16 13  9  8  8  1  9  8  1  1  8  8  5  9 16  9 17  8  8  9  1
  7  9  7 14  0  8  9  1  7  8  7  7 16 16 11  1  8  9 16  9  9 16  9  0
  9 13 16  1  1 18  9 16  8 14  0  8  8  9  8  9  9 16  1  2 16  9  7  8
  9 16  7  8  1  9  9 16 13  8  1 16 16  0  9 13  0  7  8  1  9  9 16  1
 16 16  7  1  1 13 16  9  7 16 16 16 16  9  1  1 16 14  1  9  1 10  1  9
  1  9  8 16  1  1 13  0  6 16  1 14  1  1  1  1 18  9 10  3 14  1  0  1
  9  1  7 16  0  7 10 14  9  0  8  5  4  0  8 16  7  9  0 18 16  1  1 16
  9  1  7  5  1  7 10 10  0 18 16 18 16 16  3  0  1  1  1  0  8  8  9  1
  0  7  9  9 16  0  0 16  2  9  7  9  1 16  1  9  1  1  0  9  1  1  9  8
 16  9  1  9  1 16  1 13  5  1  9 13  6  9 13  9  1  1 13  7 16]

In [ ]:
#achando cidades são josé dos campos e são roque
sjc = np.where( (ibge['Município com acento'] == 'SÃO JOSÉ DOS CAMPOS').values==True)[0]
sr = np.where( (ibge['Município com acento'] == 'SÃO ROQUE').values==True)[0]

In [ ]:
#cidades similares com base na distância euclidiana
cluster_sjc = kmeans.labels_[sjc]
cluster_sr = kmeans.labels_[sr]
cidades_similares_sjc = np.where( kmeans.labels_ == cluster_sjc)
cidades_similares_sr = np.where( kmeans.labels_ == cluster_sr)
nomes_cidades_similares_sjc = ibge['Município com acento'][cidades_similares_sjc[0]]
nomes_cidades_similares_sr = ibge['Município com acento'][cidades_similares_sr[0]]

In [ ]:
print("São José dos Campos")
print("Posições das cidades similares: \n", cidades_similares_sjc)
print("Nomes das cidades similares: \n", nomes_cidades_similares_sjc)

São José dos Campos
Posições das cidades similares:
 (array([ 31,  51,  90,  91, 112, 200, 245, 250, 251, 328, 330, 341, 435,
       465, 521, 539, 548, 559]),)
Nomes das cidades similares:
 31                      ARAÇATUBA
51                          AVARÉ
90                         BROTAS
91                           BURI
112                      CANANÉIA
200                        GUAÍRA
245                      IPORANGA
250                       ITABERÁ
251                          ITAÍ
328                       MARÍLIA
330                  MARTINÓPOLIS
341       MIRANTE DO PARANAPANEMA
435                    PIRACICABA
465           PRESIDENTE EPITÁCIO
521       SANTA CRUZ DO RIO PARDO
539    SANTO ANTÔNIO DO ARACANGUÁ
548                    SÃO CARLOS
559           SÃO JOSÉ DOS CAMPOS
Name: Município com acento, dtype: object

In [ ]:
print("São Roque")
print("Posições das cidades similares:\n", cidades_similares_sr)
print("Nomes das cidades similares:\n", nomes_cidades_similares_sr)

São Roque
Posições das cidades similares:
 (array([ 10,  12,  14,  15,  22,  26,  34,  40,  50,  69,  74,  76,  84,
        89,  92,  97, 110, 119, 126, 141, 142, 145, 146, 149, 175, 191,
       197, 198, 201, 203, 209, 212, 217, 221, 223, 224, 228, 232, 236,
       237, 239, 265, 268, 277, 283, 290, 311, 319, 320, 352, 357, 362,
       363, 365, 381, 382, 388, 392, 394, 395, 398, 400, 406, 408, 411,
       425, 444, 445, 450, 453, 458, 463, 473, 476, 481, 487, 491, 492,
       502, 504, 505, 510, 513, 514, 515, 516, 520, 531, 537, 555, 567,
       572, 575, 586, 588, 589, 604, 607, 613, 624, 629, 644]),)
Nomes das cidades similares:
 10               ALTAIR
12          ALTO ALEGRE
14     ÁLVARES FLORENCE
15      ÁLVARES MACHADO
22            ANALÂNDIA
             ...
607              TEJUPÁ
613            TORRINHA
624           UBIRAJARA
629              URUPÊS
644            ZACARIAS
Name: Município com acento, Length: 102, dtype: object

In [ ]:
ibge[['População 2010','Urbana','Rural','Área totalKm2','Densidade demográficaHab./Km2', 'Postos_Vacinação']]= min_max_scaler.fit_transform(ibge[['População 2010','Urbana','Rural','Área totalKm2','Densidade demográficaHab./Km2', 'Postos_Vacinação']])
y = ibge['Postos_Vacinação']
x = ibge.drop(['Postos_Vacinação', 'Município com acento', 'Regiao'], axis=1)

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size= 0.25, random_state=29)

In [ ]:
average_precision = average_precision_score(x, x_test)